


{% if album | length <= 0 %}

   <div class="container">

       <div class="row">
           <div class="col-md-12">
               <h1 class="text-center">
                   <p>
                       The requested album could not be found.
                   </p>
               </h1>
           </div>
       </div>

   </div>

{% else %}

<div class="container inside-sec happenings-sec">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center sec-info">
            <h3 class="sub-title">
                {{ album.title }}
            </h3>
            <hr class="key-line center-line">
            <p class="para-block">
                {{ album.description }}
            </p>
        </div>
    </div>
</div>

<div class="container album-grid">
    <div class="row">
        {% for image in album.gallery %}
        <div class="col-sm-4 album-img">
            <a href="#" data-target="#slider" data-slide-to="{{ loop.index -1 }}">
                <img src="{{ image.getThumb(1500, 1500, 'crop') }}" alt="">
            </a>
        </div>
        {% endfor %}

    </div>

</div>

<div class="container-fluid carousel-fullscreen">
    <section id="carousel" class="slider slide-sec">
        <div class="row">
            <div class="close-btn">
                <img src="{{ 'assets/images/icons/close-icon.svg'|theme }}" class="close-icon pull-right" alt="">
            </div>
            <div class="col-md-12 slider-full">
                <div class="carousel slide" id="slider" data-ride="carousel" data-interval="5000">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        {% for image in album.gallery %}
                            <div class="{% if loop.index == 1 %} active {% endif %}item slide-sec bg-cover nevs-sec" style="background-image: url('images/nevs-header.png');">
                                <img src="{{ image.path }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Left and right controls -->
                    <div class="carousel-arrow-block">
                        <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                            <div class="carousel-arrows">
                                <img src="{{ 'assets/images/icons/left-arrow.svg'|theme }}" alt="">
                            </div>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <div class="carousel-arrow-block">
                        <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                            <div class="carousel-arrows right-side">
                                <img src="{{ 'assets/images/icons/right-arrow.svg'|theme }}" alt="">
                            </div>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                {% for image in album.gallery %}
                <li data-target="#slider" data-slide-to="{{ loop.index -1 }}" class="active">
                    <img src="{{ image.thumb(160,110,{'mode':'crop'}) }}" alt="">
                </li>
                {% endfor %}

            </ol>
    </section>
</div>

{% endif %}
